<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
<link rel="icon" href="/img/weather.png">
    <title>about</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Pirarthanan. To test API, hosting with Render</p>
        <img src="/img/pic1.jpg">
    </div>
    {{>footer}}
</body>

</html>